{% extends "page.html.twig" %}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">

    {% set imgUrl = drupal_config('agora.settings', 'image_hero') %}


    {# Header #}
    <div class="bg-image bg-dark" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('{{ imgUrl|striptags|trim }}')">
      <div class="jumbotron {{ container }}">
        <h1>
          {{ drupal_config('system.site', 'name') }}
          <br/>
          <small>
            {{ drupal_config('system.site', 'slogan') }}
          </small>
        </h1>
      </div>
    </div>

    {# Highlighted #}
    {% if page.highlighted %}
      {% block highlighted %}
        <div class="highlighted {{ container }}">{{ page.highlighted }}</div>
      {% endblock %}
    {% endif %}

    {# Agenda #}
    {% if is_mod('agora_agenda') %}
      <section class="section-with-title {{ container }}">
        {{ drupal_block('agenda_preview') }}
      </section>
    {% endif %}

    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      <section class="section-with-title {{ container }}">
        {{ page.content }}
      </section>
    {% endblock %}
  </div>
{% endblock %}
