{% extends "page.html.twig" %}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">

    {% set imgUrl = file_url(drupal_config('agora.settings', 'image_hero_path')) %}

    {# Header #}
    {% if imgUrl %}
      <section class="agora-header bg-image bg-dark" role="heading" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('{{ imgUrl }}')">
    {% else %}
      <section class="agora-header bg-image bg-dark bg-no-image" role="heading">
    {% endif %}

      <div class="{{container}}">
        <div class="row">
          <div class="col-xs-12 col-md-8">
              {% set slider = drupal_field('field_slider', 'agora_page', 1)|field_value %}
              {% if slider %}
                {{ slider }}
              {% else %}
                {{ drupal_field('description', 'agora_page', 1) }}
              {% endif %}
            </div>
          <div class="hidden-xs hidden-sm col-md-4">
            <div class="slider-sidebar clearfix">
              {{ drupal_view('news','sidebar_home') }}
            </div>
          </div>
        </div>
      </div>
    </section>

    {# Highlighted #}
    {% if page.highlighted %}
      {% block highlighted %}
        <section class="highlighted {{ container }}">{{ page.highlighted }}</section>
      {% endblock %}
    {% endif %}

    {# Agenda #}
    {% if is_mod('agora_agenda') %}
      <section class="section-with-title {{ container }}">
        {{ drupal_block('agenda_preview') }}
      </section>
    {% endif %}

    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ drupal_field('body', 'agora_page', 1) }}
      {{ page.content }}
    {% endblock %}
  </div>
{% endblock %}
