{#
/**
 * @file
 * Default theme implementation for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldeset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
    'dropdown',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {%
    set legend_span_classes = [
      'fieldset-legend',
      required ? 'js-form-required',
      required ? 'form-required',
      'pull-left'
    ]
  %}
  <button class="btn btn-sm btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span{{ legend_span.attributes.addClass(legend_span_classes) }}>
      {{ legend.icon }}
      &nbsp;
      {{ legend.title }}
    </span>
    <span class="pull-right">
      <i class="fas fa-caret-down"></i>
    </span>
  </button>
  <div class="dropdown-menu">
    {% if errors %}
      <div>
        {{ errors }}
      </div>
    {% endif %}
    {% if prefix %}
      <div class="field-prefix">{{ prefix }}</div>
      <div role="separator" class="divider"></div>
    {% endif %}
    {{ children }}
    {% if suffix %}
      <div role="separator" class="divider"></div>
      <div class="field-suffix">{{ suffix }}</div>
    {% endif %}
    {% if description.content %}
    <div role="separator" class="divider"></div>
      <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
    {% endif %}
  </div>
</div>
