{% extends "views-view.html.twig" %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{% block viewHeader %}

  <div class="dark-background pad-bottom">
    <div class="{{ container }}">
      <h1 class="alt">L'appel&nbsp;à projets ARC.IMMO
      </h1>
    </div>
  </div>

  <div class=" {{ container }} pad-bottom">

    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}

    <div class="row">
      {% if header %}
      <div class="hidden-xs hidden-sm col-md-12">
        <div class="view-header pad-bottom">
          {{ header }}
        </div>
      </div>
      {% endif %}
      {% if exposed %}
      <div class="col-xs-12">
        <a name="filter"></a>
        <div class="view-filters form-group">
          {{ exposed }}
        </div>
      </div>
      {% endif %}
    </div>

  </div>

{% endblock %}
