{% extends "node.html.twig" %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Content #}
{% block content %}

<div class="panel panel-event">
  <div class="panel-heading">
    <h2 class="pad-bottom">
      <span class="link-campaign" >
        {{ content.field_campaign|field_target_entity.label }}
        <span> - </span>
      </span>
      {{ label }}
    </h2>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        {{ content.field_image|field_value }}
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="panel-infobar">
          <i class="fa fa-calendar"></i>

          {% if "now"|date('Ymd') > content.field_end_date|field_raw('value')|date('Ymd') %}
            {% set stateTxt = 'terminé'|t %}
            {% set stateClass = 'default' %}
            {% if content.field_end_date|field_value %}
              {{ content.field_end_date|field_value }}
            {% endif %}
          {% else %}
            {% if content.field_start_date|field_value %}
              {% if "now"|date('Ymd') > content.field_start_date|field_raw('value')|date('Ymd') %}
                {% set stateTxt = 'en cours'|t %}
                {% set stateClass = 'success' %}
                {{ content.field_start_date|field_value }}
              {% else %}
                {% set stateTxt = 'à venir'|t %}
                {% set stateClass = 'warning' %}
              {% endif %}
            {% endif %}
          {% endif %}

          {% if stateTxt %}
            &emsp;<span class="label label-{{stateClass}}">{{stateTxt}}</span>
          {% endif %}

        </div>

        <div class="pad-bottom">
          {{ content.body }}
        </div>

        <div>
          <a class="btn btn-default link-campaign" href="{{ path('entity.node.canonical', {'node': content.field_campaign|field_target_entity.id}) }}">
            {{ 'En savoir plus'|t }}
          </a>
          {% if content.field_link|field_value %}
            <a class="btn btn-primary" href="{{ content.field_link[0]['#plain_text'] }}">
              {{ content.field_link|field_raw('title') }}
            </a>
          {% endif %}
        </div>

      </div>
    </div> <!-- END row  -->

  </div>

</div>

{% endblock %}
