{% extends "node.html.twig" %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Content #}
{% block content %}
  {% set imgUrl %}
       {{ content.field_image|field_value }}
  {% endset %}

  <div class="bg-image bg-dark" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('{{ imgUrl|striptags|trim }}')">
    <div class="jumbotron {{ container }}">
      {% if content.field_display_title|field_raw('value') %}
        <h1>{{ label }}</h1>
      {% endif %}
      {{ content.body }}
    </div>
  </div>

  {% if content.field_enable_timeline|field_raw('value') or content.field_enable_agenda|field_raw('value') or content.field_enable_forum|field_raw('value') %}
    <section id="nav-campaign" class="{{ container }}">
      <ul class="nav nav-pills nav-justified nav-campaign" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informations</a></li>

        {% if content.field_enable_agenda|field_raw('value') %}
          <li role="presentation" class=""><a href="#agenda" aria-controls="agenda" role="tab" data-toggle="tab">Agenda</a></li>
        {% endif %}
      </ul>
    </section>
  {% endif %}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="info">
      {% if content.field_enable_timeline|field_raw('value') %}
        <section class="{{ container }}">
          {{ attach_library('views_timelinejs/timelinejs.local') }}
          {{ drupal_view('timeline','page',node.id) }}
        </section>
      {% endif %}
      <section class="{{ container }}">
        {{ drupal_view('forum_list','block',node.id) }}
      </section>
      <section class="{{ container }} section-with-title">
        <h2 class="section-title">
          {{ 'Participez aux autres campagnes de concertation'|t }}
        </h2>
        <div class="text-align-left">
          {{ drupal_view('forum_grid','block',node.id) }}
        </div>
      </section>

    </div>

    {% if content.field_enable_agenda|field_raw('value') %}
      <div role="tabpanel" class="tab-pane fade" id="agenda">
        <section class="{{ container }}">
          {% set args = {
              'agenda_id' : content.field_open_agenda_id|field_value,
              'agenda_token': content.field_open_agenda_token|field_value,
              'agenda_category': content.field_agenda_tag|field_value|safe_join(', '),
              'agenda_link': content.field_agenda_link|field_value,
              'enable_filter': false
            }
          %}
          {% include 'agenda.html.twig' with args %}

        </section>
      </div>
    {% endif %}

  </div>

{% endblock %}
