<div class="row">
  <div class="col-xs-12 col-md-6">
    <!-- GALLERY -->

    {{ content.field_images|field_value }}

    <h4 class="green-text">
      <i class="fa fa-lg fa-fw fa-download"></i>
      &nbsp;
      Documents informatifs à télécharger :
    </h4>
    {{ content.field_files|field_value }}

  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="alt-light no-padding">fiche d'identité</h3>
      </div>
      <div class="panel-body row">
        <div class="col-xs-12 col-lg-6 col-border-right">
          <h4 class="">
            <i class="fa fa-2x fa-fw fa-home"></i>
            &nbsp;
            {{ content.field_info_author|field_label }}
          </h4>
          <p class="">
            {{ content.field_info_author|field_value }}
          </p>
          <br/>
          <h4 class="">
            <i class="fa fa-lg fa-fw fa-expand"></i>
            &nbsp;
            {{ content.field_info_area|field_label }}
          </h4>
          <p class="list-group-item-text">
            {{ content.field_info_area|field_value }}
          </p>
          <br/>
          <h4 class="">
            <i class="fa fa-lg fa-fw fa-map-marker"></i>
            &nbsp;
            {{ content.field_address|field_label }}
          </h4>
          <p class="list-group-item-text">
            {{ content.field_address|field_value }}
          </p>
          <br/>
          <h4 class="">
            <i class="fa fa-lg fa-fw fa-money"></i>
            &nbsp;
            {{ content.field_info_block_rent|field_label }}
          </h4>
          <p class="list-group-item-text">
            {{ content.field_info_block_rent|field_value }}
          </p>
          <br/>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h4 class="">
            <i class="fa fa-lg fa-fw fa-clock-o"></i>
            &nbsp;
            {{ content.field_info_availability|field_label }}
          </h4>
          <p class="list-group-item-text">
            {{ content.field_info_availability|field_value }}
          </p>
          <br/>
          <h4 class="">
            <i class="fa fa-lg fa-fw fa-calendar"></i>
            &nbsp;
            {{ content.field_info_calendar|field_label }}
          </h4>
          <p class="list-group-item-text">
            {{ content.field_info_calendar|field_value }}
          </p>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 pad-bottom">
    <h2>{{ content.field_info_default|field_label }}</h2>
    <div>
      {{ content.field_info_default|field_value }}
    </div>
  </div>

  <div class="col-xs-12 col-lg-6 pad-bottom">
    <h2>{{ content.field_info_block_context|field_label }}</h2>
    <div>
      {{ content.field_info_block_context|field_value }}
    </div>
  </div>

  <div class="col-xs-12 col-lg-6 pad-bottom">
    <h2>{{ content.field_info_block_selection|field_label }}</h2>
    <div>
      {{ content.field_info_block_selection|field_value }}
    </div>
  </div>

  <div class="col-xs-12 col-md-6 pad-bottom">
    <!-- <img class="img-responsive" src="http://placehold.it/800x450" alt="mapbox"/> -->
    {{ content.field_geofield|field_value }}
  </div>
  <div class="col-xs-12 col-md-6">
    <h2 class="green-text pad-bottom">Situation et contexte urbain</h2>
    <h3>{{ content.field_address|field_label }}</h3>
    <div>
      {{ content.field_address|field_value }}
    </div>
    <h3>{{ content.field_info_block_transport|field_label }}</h3>
    <div>
      {{ content.field_info_block_transport|field_value }}
    </div>
  </div>

</div> <!-- end row -->
