<div class="row">
  <div class="col-xs-12 col-md-6">
    <!-- GALLERY -->

    {{ content.field_images|field_value }}

    <h5>Télécharger la fiche renseignement</h5>
    {{ content.field_files|field_value }}

  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">{{ content.field_info_author|field_label }}</h4>
          <p class="list-group-item-text">
            {{ content.field_info_author|field_value }}
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">{{ content.field_info_area|field_label }}</h4>
          <p class="list-group-item-text">
            {{ content.field_info_area|field_value }}
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">{{ content.field_address|field_label }}</h4>
          <p class="list-group-item-text">
            {{ content.field_address|field_value }}
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">{{ content.field_info_availability|field_label }}</h4>
          <p class="list-group-item-text">
            {{ content.field_info_availability|field_value }}
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">{{ content.field_info_calendar|field_label }}</h4>
          <p class="list-group-item-text">
            {{ content.field_info_calendar|field_value }}
          </p>
        </li>
        <!-- <li class="list-group-item">
          <h5 class="list-group-item-heading">
            Recevoir les nouvelles de ce projet
          </h5>
          <div class="list-group-item-text">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button">{{ 'Candidature'|t }}</button>
              </span>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="col-xs-12 pad-bottom">
    <h2>{{ content.field_info_default|field_label }}</h2>
    <div>
      {{ content.field_info_default|field_value }}
    </div>
  </div>

  <div class="col-xs-12 pad-bottom">
    <h2>{{ content.field_info_block_context|field_label }}</h2>
    <div>
      {{ content.field_info_block_context|field_value }}
    </div>
  </div>

  <div class="col-xs-12 pad-bottom">
    <h2>{{ content.field_info_block_selection|field_label }}</h2>
    <div>
      {{ content.field_info_block_selection|field_value }}
    </div>
  </div>

  <div class="col-xs-12">
    <div class="panel panel-default pad-bottom">
      <div class="panel-heading">
        <b>{{ content.field_info_block_rent|field_label }}</b>
      </div>
      <div class="panel-body">
        <div>
          {{ content.field_info_block_rent|field_value }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 pad-bottom">
    <h2>{{ content.field_info_block_location|field_label }}</h2>
  </div>

  <div class="col-xs-12 col-md-6 pad-bottom">
    <!-- <img class="img-responsive" src="http://placehold.it/800x450" alt="mapbox"/> -->
    {{ content.field_geofield|field_value }}
  </div>
  <div class="col-xs-12 col-md-6">
    <h3>{{ content.field_address|field_label }}</h3>
    <div>
      {{ content.field_address|field_value }}
    </div>
    <h3>{{ content.field_info_block_transport|field_label }}</h3>
    <div>
      {{ content.field_info_block_transport|field_value }}
    </div>
  </div>

  <div class="col-xs-12">
    <div>
      {{ content.field_info_block_location|field_value }}
    </div>
  </div>

</div> <!-- end row -->
