{% extends "page.html.twig" %}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">

    {# Header #}
    {% if page.header %}
      {% block header %}
        <section class="{{ container }}" role="heading">
          {{ page.header }}
        </section>
      {% endblock %}
    {% endif %}

    <div class="taskbar">
      <div class="{{ container }}">
        <div class="pull-right" role="heading">
          {{ drupal_block('sage_local_tasks') }}
        </div>
      </div>
    </div>

    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ page.content }}
    {% endblock %}

  </div>
{% endblock %}
