{% extends "node.html.twig" %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Content #}
{% block content %}

<div id="slider_{{node.id}}" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in content.field_slider_content|field_value %}
      <li data-target="#slider_{{node.id}}" data-slide-to="{{loop.index0}}" class="{{loop.first ? 'active'}}"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for slide in content.field_slider_content|field_value %}
      <div class="item {{loop.first ? 'active'}}">
        {{ slide }}
      </div>
    {% endfor %}
  </div>

</div>


{% endblock %}
