{% extends "node.html.twig" %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Content #}
{% block content %}
  {% set imgUrl %}
       {{ content.field_image|field_value }}
  {% endset %}

  <div class="bg-image bg-dark" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('{{ imgUrl|striptags|trim }}')">
    <div class="jumbotron {{ container }}">
      <h1>{{ label }}</h1>
      {{ content.body }}
    </div>
  </div>

  {{ devel_dump('- node campaign content :') }}
  {{ devel_dump(content) }}

  {% if content.field_enable_timeline|field_raw('value') or content.field_enable_agenda|field_raw('value') or content.field_enable_forum|field_raw('value') %}
    <section class="{{ container }}">
      <ul class="nav nav-tabs nav-justified nav-campaign" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informations</a></li>

        {% if content.field_enable_timeline|field_raw('value') %}
          <li role="presentation" class=""><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">Étapes</a></li>
        {% endif %}

        {% if content.field_enable_forum|field_raw('value') %}
        <li role="presentation" class=""><a href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Consultation(s)</a></li>
        {% endif %}

        {% if content.field_enable_agenda|field_raw('value') %}
          <li role="presentation" class=""><a href="#agenda" aria-controls="agenda" role="tab" data-toggle="tab">Agenda</a></li>
        {% endif %}
      </ul>
    </section>
  {% endif %}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="info">
      <section class="{{ container }}">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{ content.field_content_main|field_value }}
          </div>
          <div class="col-xs-12 col-sm-6">
            {{ content.field_content_side|field_value }}
          </div>
        </div>
      </section>
    </div>

    {% if content.field_enable_timeline|field_raw('value') %}
      <div role="tabpanel" class="tab-pane fade" id="timeline">
        <section>
          {{ drupal_view('timeline','embed_1')|render }}
        </section>
      </div>
    {% endif %}

    {% if content.field_enable_forum|field_raw('value') %}
      <div role="tabpanel" class="tab-pane fade" id="forum">
        <section class="{{ container }}">
          {{ content.field_forms|field_value }}
        </section>
      </div>
    {% endif %}

    {% if content.field_enable_agenda|field_raw('value') %}
      <div role="tabpanel" class="tab-pane fade" id="agenda">
        <section class="{{ container }}">
          {% set args = {
              'agenda_id' : content.field_open_agenda_id|field_value,
              'agenda_token': content.field_open_agenda_token|field_value,
              'agenda_category': content.field_agenda_tag|field_value|safe_join(', '),
              'agenda_link': content.field_agenda_link|field_value,
              'enable_filter': false
            }
          %}
          {% include 'agenda.html.twig' with args %}

        </section>
      </div>
    {% endif %}

  </div>

{% endblock %}
