{% extends "node.html.twig" %}
{# Content #}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <h2{{ title_attributes }}>
      {{ label }}
    </h2>
    {{ content.field_date }}
    <div class="content">
      {{ content.body }}
    </div>
    <p class="text-right">
      <a class="btn btn-link" href="{{url}}" rel="bookmark">
        {{ 'En savoir plus'|t }}
        &nbsp;
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </a>
    </p>
  </div>

</div>

{% endblock %}
