{% extends "node.html.twig" %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Content #}
{% block content %}

<div class="{{ container }}">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <div class="page-header">
        <h1>{{ label }}</h1>
        <div class="well well-sm">
          {{ content.field_date }}
        </div>
      </div>
      <div class="pad-bottom">
        {{ content.body }}
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      {{ drupal_view('news','sidebar',node.id) }}
    </div>
  </div>
</div>

{% endblock %}
